{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Materias</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    
</head>

<body>
    <nav data-bs-theme="dark" class="navbar bg-primary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SITIO DE OFERTA DE CURSOS</a>
            <nav class="nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/inicio">Docentes</a>
                <a class="nav-link" href="/indexMateria">Cursos</a>
            </nav>

        </div>
    </nav>
    <div class="container my-5">
        <h3 class="mb-4 text-primary border-bottom pb-2 p-4 text-center">Listado de Materias</h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/formMateria" class="btn btn-success "> <i class="bi bi-person-plus-fill"></i> Agregar</a>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
            {% for i in course %}
            <div class="col">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body row g-3 align-items-center">
                        
                        <div class="col-md-7 order-md-1 order-2 card-body-content">
                            <h5 class="card-title fw-bold text-primary mb-2">{{i.nombre}}</h5>
                            
                            <p class="card-text mb-1">
                                <span class=" me-2">Créditos:</span> <strong>{{i.número_créditos}}</strong>
                            </p>
                            <p class="card-text mb-1">
                                <span class=" me-2">Nivel:</span> <strong class="text-info">{{i.nivel}}</strong>
                            </p>
                            <p class="card-text mb-1">
                                <span class=" me-2">Horas/Semana:</span> {{i.horas_clase_semana}} h
                            </p>
                            <p class="card-text mb-0">
                                <span class=" me-2">Jornada:</span> <strong class="text-success">{{i.jornada}}</strong>
                            </p>
                        </div>
                        
                        <div class="col-md-5 order-md-2 order-1 text-center">
                            <img src="{{i.imagen.url}}" class="img-fluid card-img-right" alt="Imagen de {{i.nombre}}">
                        </div>
                    </div>
                    
                    <div class="card-footer d-flex justify-content-center bg-light border-0 pt-3 pb-2">
                        <a href="/updateMateria/{{i.id}}/" class="btn btn-sm btn-outline-primary w-45 me-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="/deleteMateria/{{i.id}}/" class="btn btn-sm btn-danger w-45">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>