<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Listar Materias</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for i in course %}
        <div class="col">
            <div class="card">
                <img src="{{i.imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.nombre}}</h5>
                    <p class="card-text">{{i.jornada}} </p>
                </div>
                <a href="updateMateria/{{i.id}}/">Editar</a>
                <a style="background-color: red;" href="">Eliminar</a>
            </div>
        </div>
        {% endfor %}
    </div>

</body>

</html>