body {
    padding-top:56px; 
}

.card-img-top-fixed {
    height: 220px; 
    object-fit: cover; 
    width: 100%; 
}
input[type="file"] {
    border: 1px solid #dee2e6;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
}
.card-img-docente {
    height: 100%;
    object-fit: cover;
}

.card-horizontal-wrapper {
    height: 100%;
}
.card-img-right {
    max-height: 180px; 
    width: 100%;
    object-fit: cover; 
    border-radius: .3rem; 
}
.card-body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-body.row > div {
    padding-top: .5rem;
    padding-bottom: .5rem;
}